# IntelliJ IDEA
.idea/
*.iml

# Build output
/target/
out/

# JavaFX local SDKs
javafx-sdk*/ 

# OS-specific
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# IDE Caches
*.class
*.swp

# Maven
/logs/
/.mvn/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
release.properties

# Java module file
module-info.class
